<div align="center">
    <h1>Mon livre de cave</h1>
    <div class="container">
    <div class ="wine-form">
        <div class ="form-actions">
        <%= link_to "Liste de mes vins", "/winesdisp", class: "btn btn-primary" %>
        </div>
        <div class="form-actions">
        <%= link_to "Ajouter un vin", "/wines/new", class: "btn btn-primary" %>
        </div>
        <div class="form-actions">
        <%= link_to "Ajouter/Supprimer une bouteille", "winesqte", class: "btn btn-primary" %>
        </div>
        <div class="form-actions">
        <%= link_to "Détail d'un vin/modification/suppression", "/winesmod", class: "btn btn-primary" %>
        </div>
        <div class="form-actions">
        <%= link_to "Liste pour inventaire", "/wineslist", class: "btn btn-primary" %>
        </div>
        <div class="form-actions">
        <div class="btn btn-primary">
        <a href="https://www.wine-searcher.com/">Mon vin sur wine-searcher.com</a>
        </div>
        </div>
        <div class="form-actions">
        <%= link_to "Retour accueil", root_path, class: "btn btn-primary" %>
        </div>
    </div>
    </div>
</div>