<div class="form-actions">
  <%= link_to "Retour", "/wines", class: "btn btn-primary" %>
</div>
<div align="center">
<h1>Voir le détail d'une étiquette</h1>
<br><br>
Click sur bouton a droite pour modifier/supprimer
<table class="table-container">
  <thead>
    <tr>
      <th>Etiquette</th>
      <th>couleur</th>
      <th>millesime</th>
      <th>qte</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @wines.present? %>
      <% @wines.each do |wine| %>
        <tr>
        <td><%= wine.nom %></td>
        <td><%= wine.couleur %></td>
        <td><%= wine.millesime %></td>
        <td><%= wine.qte %></td>
        <td>
        <%= link_to "mod/supp", 
          "/wines/"+ wine.id.to_s, 
          method: :show, 
          class: "edit-button" %>
        </td>   
        </tr>
      <% end %>
    <% else %>
    No data available
    <% end %>
  </tbody>
</table>
</div>